%font-styles-desc-hero {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $desc-color;
}

%font-styles-desc1 {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: $main-color;
}

%font-styles-desc2 {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: $desc-color;
}

%button-styles {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $main-color;
  border: 1px solid $accent-color;
  border-radius: 25px;
  padding: 12px 20px;
  background-color: transparent;
}
