@import "./utils/variables";
@import "./utils/placeholders";
@import "./utils/utils";
@import "./utils/container";
@import "./utils/breakpoints";
@import "./components/hero";
@import "./common/button";
@import "./boxes/boxes";

@import "./mobile-menu/mobile-menu";
@import "./mobile-menu/button-menu";
@import "./components/social-list";
@import "./components/main-nav";
@import "./components/about-us";
@import "./components/price";
@import "./components/price-list";
@import "./components/statistics";
@import "./components/statistics-list";
@import "./components/barbers";
@import "./components/barbers-list";
@import "./components/social-networks";
@import "./components/gallery";
@import "./components/gallery-list";
@import "./components/booking";
@import "./components/contacts";
@import "./components/contacts-list";
@import "./components/footer";
@import "./components/footer-list";

.header {
  display: flex;
}

.hero__right-blok {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: relative;
    display: flex;
    width: 93px;
    height: 680px;
    background-color: $white;
    // margin-left: 39px;
    margin-right: 30px;
  }
}

.barbers-block {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.header {
  justify-content: center;
}
