@import "./utils.scss/variables";
@import "./utils.scss/placeholders";
@import "./utils.scss/utils";
@import "./utils.scss/container";

@import "./common/button";

@import "./components/hero";
@import "./mobile-menu/mobile-menu";
@import "./mobile-menu/button-menu";
@import "./components/social-list";
@import "./components/about-us";
@import "./components/price";
@import "./components/price-list";
@import "./components/statistics";
@import "./components/statistics-list";
@import "./components/barbers";
@import "./components/barbers-list";
@import "./components/gallery";
@import "./components/gallery-list";
@import "./components/booking";
@import "./components/contacts";
@import "./components/contacts-list";

@import "./social-networks";

// Footer

.footer {
  background-color: $background-color2;
  padding-top: 44px;
  padding-bottom: 44px;
}

.footer-list {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.footer-list__link {
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: $main-color;
  transition: color $transition-duration $cubic;
}

.footer-list__link:hover,
.footer-list__link:focus {
  color: $accent-color;
}

.footer-list__link--decoration::before {
  content: "";
  width: 60px;
  height: 1px;
  color: $main-color;
  background-color: currentColor;
}

.footer__copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: $secondary-color;
}
