.hero {
  // max-width: 1200px;
  background-image: url(../images/hero_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 767px) {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    min-width: 606px;
    height: 680px;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__box {
    @media screen and (max-width: 767px) {
      display: block;
      padding: 112px 82px 209px 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: block;
      padding: 156px 91px 237px 103px;
    }
  }

  &__desc {
    display: flex;
    align-items: center;
    gap: 20px;
    @extend %font-styles-desc-hero;
    margin-bottom: 20px;
  }

  &__desc::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: currentColor;
  }

  &__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: $white;
    margin-bottom: 20px;
  }

  &__text {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1, 63;
    letter-spacing: 0.02em;
    color: $secondary-color;
  }
}
