.social-list {
  gap: 40px;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 0;
  }

  &__header {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      position: absolute;
      bottom: 0;
      transform: translate(50%, 50%);
      display: flex;
      gap: 40px;
      transform: rotate(-90deg) translateY(100%);
      transform-origin: bottom left;
      margin-bottom: 40px;
      margin-left: 38px;
    }
  }

  &--footer {
    display: flex;
    justify-content: flex-end;
  }

  &__item--mobile {
    @media screen and (max-width: 767px) {
      margin-bottom: 24px;
    }
  }

  &__item--position {
    @media screen and (max-width: 767px) {
      margin-left: 100px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: $main-color;
    transition: color $transition-duration $cubic;

    @media screen and (max-width: 767px) {
      display: flex;
      align-items: center;
    }
  }

  &__link--mobile {
    font-size: 14px;
  }

  &__link--footer {
    font-size: 11px;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__link--decoration::before {
    content: "";
    width: 60px;
    height: 1px;
    color: $main-color;
    background-color: currentColor;
  }
}
