$desc-color: rgba(157, 164, 189, 0.6);
$input-placeholder-color: rgba(157, 164, 189, 0.4);
$white: white;
$accent-color: #ff6c00;
$main-color: #303030;
$secondary-color: #9da4bd;
$text-color: #555555;
$background-color1: #e5e5e5;
$background-color2: #f7f7f7;
$background-booking: #191c26;
$prices-line: rgba(157, 164, 189, 0.12);
$bg-color-box: #f7f7f7;
$transition-duration: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
