.button-menu {
  &__open {
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 48px;
    margin-right: 31px;
    border: none;
    background-color: transparent;
  }

  &__svg {
    display: block;
    fill: currentColor;
    transition: fill $transition-duration $cubic;
  }

  &__svg--color {
    fill: $white;
  }

  &__svg:hover,
  &__svg:focus {
    fill: $accent-color;
  }
}
