.button {
  @extend %button-styles;
  color: $main-color;
  transition: color $transition-duration $cubic,
    background-color $transition-duration $cubic;

  &:hover,
  &:focus {
    color: $white;
    background-color: $accent-color;
  }

  &--mobile {
    width: 194px;
    margin-bottom: 64px;
  }

  &--centre {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  &--header {
    margin-bottom: 20px;
  }

  &--booking {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: $white;
  }
}
