.hero-nav {
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
  }
}

.logo {
  display: block;

  @media screen and (max-width: 767px) {
    fill: $white;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
  }
}

.price-block {
  min-width: 418px;
  height: 360px;
  background-image: linear-gradient(
    to bottom,
    rgba(23, 26, 36, 1),
    rgba(23, 26, 36, 0.2)
  );
  margin-bottom: 44px;
}

.barbers-box {
  @media screen and (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

.booking-block {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    gap: 30px;
  }
}

.contacts-block {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    gap: 30px;
  }
}
